


.cursor {
    background-image: url('./background/jan100.png');
    width: 100px;
    height: 100px;
    border-radius: 100%;
     /* border: 1px solid;  */
    position: absolute;
     transition-duration: 100ms;
    transition-timing-function: ease-in-out;
  } 


 body {
     background-size: 200px 200px; 
    background-image: url('./background//istockphoto-962532280-612x612.jpg');
    cursor: grab; 
    display: flex;
    flex-direction: column;
    align-items: center; 
   
    
 }
 
 
 body > canvas {
    background-image: url('./background/bg100600.png');
    
    background-repeat: no-repeat;

 }


 #score {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;  
} 

.game-over {
font-size: 100%;
}
  

.intro {
color: white;    
/* background-image: url('/background/istockphoto-962532280-612x612.jpg'); */
/* background-image: url('/background/jan.png');  */
position: absolute; top: 0; left: 0; height: 100%; width: 100%;
display: flex;
text-align: center;
justify-content: center;
flex-direction: column;
background-color: black;
opacity: 70%;
}

h3 {
    font-family: 'Courier New', Courier, monospace; 
}


